@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme {
    --color-gray-white: #F9F9FB;
    --color-tgray5: #808080;
    --color-tgray6: #616161;
    --color-tgray9: #0D0D0D;
    --color-purple: #6420AA;
    --color-light-purple: #FFB5DA;
    --color-pink: #FF3EA5;
    --color-light-pink: #FFB5DA;

    --font-display: "Inter", sans-serif; 
}